#tasks_title {
    text-align: end;
    color: aliceblue;
    font-family: sans-serif;
    display: inline-block;
}

body {
    background-color: rgb(11, 127, 194);
}

section {
    padding: 16px;
    border-radius: 10px;
    height: 100%;
}

header {
    background-color: rgb(94, 201, 236);
    border-radius: 10px;
}

article {
    height: 200px;
    width: 200px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 80% 0);
    padding: 16px;
    display: inline-block;
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
}

article:hover {
    cursor: pointer;
}

#task_seven_am {
    background-color: green;
}

#task_ten_am {
    background-color: red;
}

#task_mid_day {
    background-color: purple;
}

#three_pm {
    background-color: blue;
}

#six_pm {
    background-color: rgb(21, 212, 171);
}

#eight_pm {
    background-color: coral;
}

#ten_pm {
    background-color: rgb(180, 212, 38);
}

h2 {
    font-family: sans-serif;
    font-weight: bolder;
    color: aliceblue;
}

p {
    font-family: sans-serif;
    font-style: italic;
    color: aliceblue;
}

header {
    height: 200px;
    width: 100%;
    position: relative;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: bolder;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
}

@media (max-width:700px) {
    #task_seven_am {
        width: 100%;
        float: none;
    }

    #task_ten_am {
        width: 100%;
        float: none;
    }

    #task_mid_day {
        width: 100%;
        float: none;
    }

    #three_pm {
        width: 100%;
        float: none;
    }

    #six_pm {
        width: 100%;
        float: none;
    }

    #eight_pm {
        width: 100%;
        float: none;
    
    }

    #ten_pm {
        width: 100%;
        float: none;
    
    }

    section {
        padding: 0px;
    }
}